<% include partial/header %>
    <p>My polls</p>
    <p><%= message %></p>

    <table>
    <% for(var i=0; i<polls.length; i++) {%>
    <tr><td><a href='poll/<%= polls[i].id %>'><%= polls[i].id %></a></td>
        <td><a href='poll/<%= polls[i].id %>'><%= polls[i].question %></a></td>
        <td> <%= (polls[i].status ? "published" : "not published") %></td></tr>
    <% } %>
    </table>

    <a href="/poll/create">Create new</a>
<% include partial/footer %>