<% include partial/header %>
    <h2>Poll №<%= poll.id %></h2>
    <%if (locals.user == poll.user) { %>
    <a href="/poll/edit/<%= poll.id %>">edit</a>
    <% } %>

    <p><%= poll.question%></p>
    <form>
    <% for(var i=0; i<poll.options.length; i++) {%>
        <input type="radio" name="option" value="<%=poll.options[i].id%>"> <%=poll.options[i].text%><br>
    <% } %>
    <input type="submit" value="Vote"/>
    </form>
<% include partial/footer %>