<% include partial/header %>

<div class="jumbotron poll">
    <h2 class="text-center">Poll №<%= poll.id %></h2>
    <p class="question text-center""><%= poll.question%></p>
    <div class="row">
        <div class="col-sm-6">
            <form id="options" action="/poll/vote/<%= poll.id %>" method="post">
                <% for (var i=0; i<poll.options.length; i++) {%>
                <div class="radio">
                    <label class="text-capitalize"><input type="radio" name="option" value="<%=poll.options[i].id%>"><%=poll.options[i].text%></label>
                </div>
                <% } %>
                <div id="controls">
                    <%if (locals.user == poll.user && !poll.status) { %>
                        <a class="btn btn-default" href="/poll/edit/<%= poll.id %>">Edit</a>
                    <% } else if(locals.user != undefined){%>
                        <a href="#" class="btn btn-default" id="addOptionField">Your option</a>
                    <% } %>
                    <% if (poll.status){ %>
                        <input class="btn btn-default" type="submit" value="Vote"/>
                    <% } %>
                    <script>
                    var controls = document.getElementById("controls");
                    var addOptionButton = document.getElementById("addOptionField");
                    addOptionButton.addEventListener("click", addOptionField);

                    function addOptionField(){
                        var form = document.getElementById("options");
                        var option = document.createElement("input");
                        option.type = "text";
                        option.name = "newOption";
                        option.className = "form-control";
                        form.insertBefore(option, controls);
                    }
                    </script>
                </div>

            </form>
        </div>
        <div class="col-sm-6">
            <%votes = [];%>
            <%labels= [];%>
            <%countVotes= 0;%>
            <% for (var i=0; i<poll.options.length; i++) {%>
                <%votes.push(poll.options[i].vote);%>
                <%labels.push(poll.options[i].text.charAt(0).toUpperCase() + poll.options[i].text.slice(1));%>
                <%countVotes += +poll.options[i].vote%>
            <%}%>
            <%if(countVotes > 0){%>
                <canvas id="result" width="400" height="400"></canvas>
            <%}%>
        </div>
    </div>
</div>



<script>
    var ctx = document.getElementById("result").getContext('2d');
    var votes = "<%=votes%>";
    var labels = "<%=labels%>";

    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels.split(","),
            datasets: [{
                data: votes.split(","),
                backgroundColor : ["#737374", "#929f59", "#e6c1d3", "#5DA452", "#a45286", "#be5273", "#52A499"],
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: true,
        }
   });

</script>
<% include partial/footer %>